/* commons */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main */
.main-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.first-row,
.second-row {
    width: 100%;
}

.card {
    width: calc(100% / 3 - 24px);
    height: 480px;
    display: inline-block;
    margin: 0px 10px 20px;
    position: relative;
} 

.image {
    height: 430px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.img-hover {
    display: none;
}

img:hover + .img-hover {
    display: inline-block;
}

.wishlist {
    width: 10%;
    height: 5%;
    background-color: white;
    position: absolute;
    top: 3%;
    right: 0;
    text-align: center;
}

.wishlist:hover {
    color: red;
}

.discount-bar {
    width: 100%;
    position: absolute;
    bottom: 13%;
}
.discount-commons {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 3px;
}

.discount {
    background-color: red;
}

.sostenibilità {
    background-color: darkgreen;
}

.info-prodotto {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    font-size: 10px;
    padding-top: 5px;
}

.info-prodotto h3:nth-child(2) {
    text-transform: uppercase;
    font-weight: bolder;
}

.info-prodotto h3 span:first-child {
    color: red;
}

.info-prodotto h3 span:nth-child(2) {
    text-decoration: line-through;
}

/* debug */
/* .main-container.debug {
    background-color: lightgrey;
} */

/* .first-row.debug {
    background-color: lightpink;
}

.second-row.debug {
    background-color: lightgreen;
} */

/* .blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
} */

/* .discount-bar.debug {
    background-color: yellow;
} */